spawn-at-startup "lxqt-policykit-agent"
spawn-at-startup "noctalia-shell"
//spawn-at-startup "bash" "-c" "until noctalia-shell ipc call lockScreen lock 2>/dev/null; do sleep 0.5; done"

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

gestures {
     hot-corners {
        // off
        top-left
        // top-right
        // bottom-left
        // bottom-right
    }
}

layout {
    gaps 12  // gap between windows and screen edges
    focus-ring {
        width 2
        active-color "#0077FF"
        inactive-color "#49495B"
    }

    struts {
        left 48 
        right 48
        // top 64
        // bottom 64
    }
}

input {
    keyboard {
        xkb { }
    }
    mouse {
        accel-speed 0.1
        accel-profile "flat"
    }
}

clipboard {
    disable-primary
}

output "HDMI-A-1" {
    mode "1920x1080@144.013"
    scale 1.0
}

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 24
}

// Make the backdrop Dark.
overview {
    backdrop-color "#15161A"
}

binds {

	Super+Left { focus-column-left; }
	Super+Right { focus-column-right; }
	Super+Up { focus-window-up; }

	Super+Shift+Left { move-column-left; }
	Super+Shift+Right { move-column-right; }	

    Super+shift+S { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }

    Super+Space { maximize-column; }
}

