spawn-at-startup "lxqt-policykit-agent"

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

gestures {
     hot-corners {
        // off
        top-left
        // top-right
        // bottom-left
        // bottom-right
    }
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

layout {
    background-color "transparent"
    gaps 12  // gap between windows and screen edges
    focus-ring {
        width 2
        active-color "#0077FF"
        inactive-color "#49495B"
    }

    default-column-width { proportion 0.5; }

    struts {
        left 48 
        right 48
        // top 64
        // bottom 64
    }
}

input {

    keyboard {
        xkb { }
    }
    mouse {
        accel-speed 0.1
        accel-profile "flat"
    }

}

output "DP-2" {
    mode "1920x1080@143.855"
    scale 1.0
    position x=0 y=0
}

output "DP-1" {
    mode "1920x1080@143.855"
    scale 1.0
    position x=1920 y=0
}

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 24
}

// Make the backdrop Dark.
overview {
    backdrop-color "#15161A"
    workspace-shadow {
        off
     }
}



binds {

    Super+T { spawn "kgx"; } 
    Super+F { spawn "nautilus"; }

    Super+Shift+Q { quit; }

	Super+Left { focus-column-left; }
	Super+Right { focus-column-right; }
	Super+Up { focus-window-up; }
    Super+Down { focus-window-down; }

	Super+Shift+Left { move-column-left; }
	Super+Shift+Right { move-column-right; }	

    //Shift+Super+S { spawn "sh" "-c" "grim -g \"$(slurp -b 0E0F11B3 -c 0070F0FF -s 0E0F1133 -w 2)\" - | wl-copy"; }
    Shift+Super+S { spawn "sh" "-c" "pgrep -x slurp > /dev/null && pkill -x slurp || grim -g \"$(slurp -b 0E0F11B3 -c 0070F0FF -s 0E0F1133 -w 2)\" - | wl-copy"; }


    Super+Space { maximize-column; }


}

