//spawn-at-startup "lxqt-policykit-agent"
//spawn-at-startup "waybar"

//debug {
  // Allows notification actions and window activation from Noctalia.
  //honor-xdg-activation-with-invalid-serial
//}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

gestures {
     hot-corners {
        top-left
    }
}

animations {

    overview-open-close {
        spring damping-ratio=1.0 stiffness=1500 epsilon=0.00001
    }
}


layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}

layout {
    background-color "transparent"

    focus-ring {
        off
        width 1
        active-color "#0077FF"
        inactive-color "#49495B"
    }

    gaps 12  // gap between windows and screen edges

    default-column-width { proportion 0.5; }

    struts {
        left 48 
        right 48
        // top 64
        // bottom 64
    }
    insert-hint {
        color "#7295FF60"
    }
}

input {
    keyboard {
        xkb { }
    }

    mouse {
        accel-speed 0.1
        accel-profile "flat"
    }
}

output "DP-2" {
    mode "1920x1080@143.855"
    scale 1.0
    position x=0 y=0
}

output "DP-1" {
    mode "1920x1080@143.855"
    scale 1.0
    position x=1920 y=0
}

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 24
}

// Make the backdrop Dark.
overview {
    zoom 0.5
    backdrop-color "#15161A"
    workspace-shadow {
        off
     }
}



binds {

    Super+T { spawn "kgx"; } 
    Super+F { spawn "nautilus"; }

    Super+Shift+Q { quit; }

	Super+Left { focus-column-left; }
	Super+Right { focus-column-right; }
	Super+Up { focus-window-up; }
    Super+Down { focus-window-down; }

	Super+Shift+Left { move-column-left; }
	Super+Shift+Right { move-column-right; }	

    Shift+Super+S { spawn "sh" "-c" "pgrep -x slurp > /dev/null && pkill -x slurp || grim -g \"$(slurp -b 0E0F11C8 -c 0070F0FF -s 0E0F1100 -w 2)\" - | wl-copy"; }
    Super+S { screenshot-screen; }

    // Toggle the focused window into/out of the sidebar
    Super+W { spawn-sh "/run/current-system/sw/bin/niri-sidebar toggle-window"; }

    // Toggle sidebar visibility (hide/show)
    Super+Shift+W { spawn-sh "/run/current-system/sw/bin/niri-sidebar toggle-visibility"; }

    // Flip the order of the sidebar
    //Mod+Ctrl+S { spawn-sh "flip"; }

    // Force reorder (useful if something gets misaligned manually)
    //Mod+Alt+R { spawn-sh "reorder"; }

    //Super+Space { maximize-column; }
    //Super+Shift+Space { maximize-window-to-edges; }

}

// Add to the end of ~/.config/niri/config.kdl
//include "dms/colors.kdl"
//include "dms/layout.kdl"
//include "dms/alttab.kdl"
include "dms/binds.kdl"
